<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ site.title }} | {{ page.title }}</title>

  <link href="{{ site.baseurl }}/css/milo.css" rel="stylesheet">

  <!-- Load jQuery -->
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!-- Load KaTeX -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.js"></script>
 
</head>
